<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Custom CSS -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa; /* Bootstrap background color */
            color: #495057; /* Bootstrap text color */
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #007bff; /* Bootstrap primary color */
            color: #ffffff; /* Bootstrap light text color */
            padding: 10px 0;
            text-align: center;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #dee2e6; /* Bootstrap table border color */
            padding: 8px;
        }

        th {
            background-color: #007bff; /* Bootstrap primary color */
            color: #ffffff; /* Bootstrap light text color */
        }

        tbody tr:hover {
            background-color: #e9ecef; /* Bootstrap table hover color */
        }

        a {
            color: #007bff; /* Bootstrap primary color */
            text-decoration: none;
        }

        .pagination {
            margin-top: 20px;
            justify-content: center;
        }

        footer {
            background-color: #007bff; /* Bootstrap primary color */
            color: #ffffff; /* Bootstrap light text color */
            padding: 10px 0;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>

    <!-- Navigation Bar -->
    <header>
        <h1>My Cafe App</h1>
    </header>

    <!-- Content -->
    <div class="container">
        <% if (message) { %>
            <div class="alert alert-<%=message.type%> fade show alert-dismissible my-2" role="alert">
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
            <strong><%=message.message%></strong>
            </div>
        <% } %>
        
        <h2>Home Page</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Avg Rating</th>
                    <th>Ratings Count</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let index = 0; index < data.length; index++) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= data[index].name %></td>
                        <td><%= data[index].phone %></td>
                        <td>
                            <% if(data[index].reviewCount === 0) { %>
                                Not Yet Rated
                            <% } else { %>
                                <%= (data[index].reviewSum / data[index].reviewCount).toFixed(2) %>
                            <% } %>
                        </td>
                        <td><%= data[index].reviewCount %></td>
                        <td><i class="fa-solid fa-star"></i><a href="/rate/<%= data[index].id %>">Rate Now</a></td>
                    </tr>
                <% } %>   
            </tbody>
        </table>

        

        <a href="/add" class="btn btn-primary">Add A New Cafe</a>
    </div>

    <!-- Footer -->
    <footer>
        &copy; 2024 My Cafe App
    </footer>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
